@import url('https://fonts.googleapis.com/css2?family=Patrick+Hand&family=Permanent+Marker&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#encabezado{
    font-family: 'Patrick Hand', cursive;
    font-size: 50px;
}

$secondary: rgb(255, 163, 25);

#título, #descripción{
    -webkit-text-stroke: 0.1px black;
    text-shadow: 0px 0px 5px black;
}

.form{
    box-shadow: 0px 0px 5px black;
}

button{
    border-color: transparent;
}

.formulario{
    background-color: white;
    font-size: small;
}

#inputPassword6{
    width: 50%;
}


// El import de bootstrap debe ser lo último
@import "../node_modules/bootstrap/scss/bootstrap";